/*=================== Desktop View ===================*/
/*=============== General Styles ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: hsl(202, 86%, 94%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
}

.error {
  color: hsl(4, 69%, 50%);
}

.hide {
  display: none;
}

.show {
  display: block;
}

/*=============== Typography ===============*/
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-VariableFont_wght.ttf"), format("truetype"), url("../fonts/PlusJakartaSans-Medium.ttf"), format("truetype"), url("../fonts/PlusJakartaSans-Bold.ttf"), format("truetype"), url("../fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf"), format("truetype");
}
h1, h2, h3, legend, .text-headline {
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 2rem 0rem;
}

label {
  color: hsl(200, 24%, 40%);
  font-size: 0.78rem;
}

input {
  color: hsl(200, 26%, 54%);
}

.form-alert {
  font-size: 0.5rem;
}

/*=============== Form ===============*/
form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
form fieldset {
  height: 100vh;
  width: 50%;
  padding: 0rem 1rem;
  border: none;
  /*=============== Empty Results ===============*/
  /*=============== Buttons ===============*/
}
form fieldset label {
  display: block;
  margin-bottom: 0.5rem;
}
form fieldset .form-group-rate {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}
form fieldset .main-form-input {
  display: flex;
  outline: 1px solid hsl(203, 41%, 72%);
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
}
form fieldset .main-form-input .form-symbol {
  background-color: hsl(202, 86%, 94%);
  padding: 1rem;
  color: hsl(200, 24%, 40%);
  font-size: 0.78rem;
  font-weight: 700;
}
form fieldset .main-form-input:hover {
  outline: 2px solid hsl(200, 24%, 40%);
}
form fieldset .main-form-input:focus-within {
  border: 1px solid hsl(61, 70%, 52%);
}
form fieldset .main-form-input:focus-within .form-symbol {
  background-color: hsl(61, 70%, 52%);
  border: 1px solid hsl(61, 70%, 52%);
  color: #fff;
}
form fieldset .main-form-input.error {
  outline: 3px solid hsl(4, 69%, 50%);
}
form fieldset .main-form-input.error .form-symbol {
  background-color: hsl(4, 69%, 50%);
  color: #fff;
}
form fieldset input[type=number] {
  width: 87.35%;
  height: 2rem;
  margin-bottom: 0.5rem;
  outline: 0;
  border: 0;
  font-size: 1rem;
  padding: 1rem;
  text-align: left;
}
form fieldset input[type=radio] {
  appearance: none;
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.5rem;
  outline: 2px solid hsl(202, 55%, 16%);
  outline-offset: 3px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
form fieldset input[type=radio] + label {
  display: inline-block;
}
form fieldset input[type=radio]:checked {
  background-color: hsl(61, 70%, 52%);
  outline: 2px solid hsl(61, 70%, 52%);
}
form fieldset .radio-input {
  width: 100%;
  cursor: pointer;
  padding: 0.5rem 2rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  outline: 1px solid hsl(203, 41%, 72%);
  border-radius: 5px;
}
form fieldset .radio-input:hover {
  outline: 2px solid hsl(61, 70%, 52%);
}
form fieldset .radio-input.selected {
  background-color: hsl(61, 70%, 52%);
  outline: 2px solid hsl(61, 70%, 52%);
}
form fieldset .radio-input.selected:input[type=radio] {
  outline: 2px solid hsl(61, 70%, 52%);
}
form fieldset .form-alert {
  visibility: hidden;
}
form fieldset .form-alert, form fieldset label {
  padding-top: 0.5rem;
}
form fieldset:nth-of-type(2), form fieldset:nth-of-type(3) {
  color: hsl(203, 41%, 72%);
  background-color: hsl(202, 55%, 16%);
  text-align: center;
  border-radius: 0rem 1.2rem 1.2rem 3.1rem;
  -webkit-border-radius: 0rem 1.2rem 1.2rem 3.1rem;
  -moz-border-radius: 0rem 1.2rem 1.2rem 3.1rem;
  -ms-border-radius: 0rem 1.2rem 1.2rem 3.1rem;
  -o-border-radius: 0rem 1.2rem 1.2rem 3.1rem;
  font-size: 0.87rem;
}
form fieldset:nth-of-type(2) h2, form fieldset:nth-of-type(2) legend, form fieldset:nth-of-type(2) .text-headline, form fieldset:nth-of-type(3) h2, form fieldset:nth-of-type(3) legend, form fieldset:nth-of-type(3) .text-headline {
  color: white;
}
form fieldset:nth-of-type(2) img {
  margin-top: 5rem;
  max-height: 55%;
}
form fieldset:nth-of-type(3) {
  text-align: left;
}
form fieldset:nth-of-type(3) span {
  display: block;
}
form fieldset:nth-of-type(3) .calculated-values {
  border-top: 6px solid hsl(61, 70%, 52%);
  border-radius: 5px;
  background-color: hsl(202, 55%, 12%);
  margin: 5rem 0rem;
  padding: 2rem;
}
form fieldset:nth-of-type(3) .calculated-values > * {
  margin-top: 2rem;
}
form fieldset:nth-of-type(3) .calculated-values hr {
  border: 1px solid hsl(200, 26%, 54%);
}
form fieldset:nth-of-type(3) .calculated-values .monthly-payment, form fieldset:nth-of-type(3) .calculated-values .term-payment {
  font-weight: 700;
  padding-top: 0.65rem;
}
form fieldset:nth-of-type(3) .calculated-values .monthly-payment {
  color: hsl(61, 70%, 52%);
  font-size: 2.5rem;
}
form fieldset:nth-of-type(3) .calculated-values .term-payment {
  font-size: 2rem;
  color: white;
}
form fieldset button, form fieldset .btn {
  border: none;
  margin: 1rem 0rem 1rem 0rem;
  width: 45%;
  height: 3rem;
  color: hsl(202, 55%, 16%);
  font-weight: 700;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  cursor: pointer;
}
form fieldset button img, form fieldset .btn img {
  height: 1rem;
}
form fieldset .btn-default {
  background-color: hsl(61, 70%, 52%);
  color: hsl(202, 55%, 16%);
}
form fieldset .btn-default:hover {
  background-color: hsl(61, 70%, 82%);
}
form fieldset .btn-alt {
  color: hsl(61, 70%, 52%);
  background-color: hsl(202, 55%, 16%);
}
form fieldset .btn-alt:hover {
  background-color: #fff;
  outline: 1px solid hsl(61, 70%, 52%);
  color: hsl(202, 55%, 16%);
}

/*=============== Footer ===============*/
footer {
  margin-top: 2rem;
  color: hsl(200, 26%, 54%);
  font-size: 1rem;
  text-align: center;
}
footer a {
  color: hsl(228, 45%, 15%);
}

/*=================== Media Queries ===================*/
@media screen and (max-width: 760px) {
  form fieldset .form-group-rate {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  form {
    flex-direction: column;
  }
  form fieldset {
    width: 100%;
  }
  form fieldset:nth-of-type(2), form fieldset:nth-of-type(3) {
    border-radius: 0rem 0rem 1.2rem 1.2rem;
    -webkit-border-radius: 0rem 0rem 1.2rem 1.2rem;
    -moz-border-radius: 0rem 0rem 1.2rem 1.2rem;
    -ms-border-radius: 0rem 0rem 1.2rem 1.2rem;
    -o-border-radius: 0rem 0rem 1.2rem 1.2rem;
  }
}