//========= Variables ==========
$lime: hsl(61, 70%, 52%);
$lime-200: hsl(61, 70%, 72%);
$red: hsl(4, 69%, 50%);
$white: hsl(0, 0%, 100%);
$slate-100: hsl(202, 86%, 94%);
$slate-300: hsl(203, 41%, 72%);
$slate-500: hsl(200, 26%, 54%);
$slate-700: hsl(200, 24%, 40%);
$slate-900: hsl(202, 55%, 16%);
$slate-1000: hsl(202, 55%, 12%);

/*=================== Desktop View ===================*/
/*=============== General Styles ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: $slate-100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
}

/*=============== Typography ===============*/
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-VariableFont_wght.ttf"), format("truetype"),
    url("../fonts/PlusJakartaSans-Medium.ttf"), format("truetype"),
    url("../fonts/PlusJakartaSans-Bold.ttf"), format("truetype"),
    url("../fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf"), format("truetype"),
}

h1, h2, h3, legend, .text-headline {
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 2rem 0rem;
}

label {
  color: $slate-700;
  font-size: 0.78rem;
}

input {
  color: $slate-500;
}

.form-alert {
  font-size: 0.5rem;
}

/*=============== Form ===============*/
form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // min-height: 80vh;
  flex-direction: row;
  background-color: #fff;
  // padding: 1rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  fieldset {
    height: 100vh;
    width: 50%;
    padding: 0rem 1rem;
    border: none;

    label {
      display: block;
      margin-bottom: 0.5rem;
    }

    .form-group-rate {
      display: flex;
      gap: 2rem;
      justify-content: space-between;
      align-items: center;
    }

    .main-form-input {
      display: flex;
      // gap: 0.3rem;
      outline: 1px solid $slate-300;
      border-radius: 5px;
      justify-content: space-between;
      align-items: center;

      .form-symbol {
        background-color: $slate-100;
        // text-align: center;
        padding: 1rem;
        color: $slate-700;
        font-size: 0.78rem;
        font-weight: 700;
      }

      &:hover {
        outline: 2px solid $slate-700;
      }
    }

    input {
      &[type="number"] {
        width: 87.35%;
        height: 2rem;
        margin-bottom: 0.5rem;
        outline: 0;
        border: 0;
        font-size: 1rem;
        padding: 1rem;
        text-align: left;
      }

      &[type="radio"] {
        appearance: none;
        height: .5rem;
        width: .5rem;
        margin-right: .5rem;
        outline: 2px solid $slate-900;
        outline-offset: 3px;
        //border: 1px solid $slate-500;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;

        & + label {
          display: inline-block;
        }

        &:checked {
          background-color: $lime;
        }
      }
    }

    .radio-input {
      width: 100%;
      cursor: pointer;
      // width: 70%;
      padding: .5rem 2rem;
      margin-bottom: .5rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: .5rem;
      outline: 1px solid $slate-300;
      border-radius: 5px;

      &:hover {
        outline: 2px solid $lime;
      }
    }

    .form-alert, label {
      padding-top: 0.5rem;
    }

    // }
    /*=============== Empty Results ===============*/
    &:nth-of-type(2), &:nth-of-type(3) {
      color: $slate-300;
      background-color: $slate-900;
      text-align: center;
      border-radius: 10px;
      -webkit-border-radius: 0px 20px 20px 60px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      font-size: 0.87rem;

      h2, legend, .text-headline {
        color: white;
      }
    }

    &:nth-of-type(2) {

      // display: none;
      img {
        margin-top: 5rem;
        height: 55%;
      }
    }

    &:nth-of-type(3) {
      display: none;
      text-align: left;

      span {
        display: block;
      }

      .calculated-values {
        border-top: 6px solid $lime;
        border-radius: 5px;
        background-color: $slate-1000;
        margin: 5rem 0rem;
        padding: 2rem;

        & > * {
          margin-top: 2rem;
        }

        hr {
          // height: 4px;
          // background-color: white;
          border: 1px solid $slate-500;
        }

        .monthly-payment, .term-payment {
          font-weight: 700;
          padding-top: 0.65rem;
        }

        .monthly-payment {
          color: $lime;
          font-size: 2.5rem;
        }

        .term-payment {
          font-size: 2rem;
          color: white;
        }
      }
    }

    /*=============== Buttons ===============*/
    button, .btn {
      border: none;
      margin: 1rem 0rem 1rem 0rem;
      width: 45%;
      height: 3rem;
      color: $slate-900;
      font-weight: 700;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      cursor: pointer;
    }

    .btn-default {
      background-color: $lime;
      color: $slate-900;

      &:hover {
        background-color: $lime-200;
      }
    }

    .btn-alt {
      color: $lime;
      background-color: $slate-900;

      &:hover {
        background-color: #fff;
        outline: 1px solid $lime;
        color: $slate-900;
      }
    }
  }
}

/*=============== Footer ===============*/
footer {
  margin-top: 2rem;
  color: $slate-500;
  font-size: 1rem;
  text-align: center;

  a {
    color: hsl(228, 45%, 15%);
  }
}